[Unit]
Description=Sawmill display for Miniature World.
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/opt/pimediasync
EnvironmentFile=/etc/pimediasync.conf
ExecStart=/usr/bin/python3 /opt/pimediasync/app.py $APPLICATION_FLAGS

[Install]
WantedBy=multi-user.target
